<div class="container" *ngIf="LANGUAGE && LANGUAGE == 'vi' || LANGUAGE == 'en'">

    <!------------------------------------------ Title --------------------------------------->
    <div class="body-title row">
        <button class="btn btn-outline-primary back col-1" [routerLink]="['/banks','sending']"><i
                class="fas fa-arrow-left"></i>
        </button>
        <div class="body-title col-10">
            {{"Consensus of data using, collecting and providing" | translate}}
        </div>
    </div>
    <hr>
    <app-information></app-information>
    <hr>

    <!-------------------------------------------- Consent body ---------------------------------------->
    <div class="row">
        <div class="col-12 consent_content">
            <div class="content_scroll" [innerHTML]="'consent_content' | translate">
            </div>
        </div>
    </div>
    <hr>

    <!----------------------------------------------------- Agreement with all the above ---------------------------------------->
    <div style="text-align: center">
        <div class="form-check form-check-inline">
            <mat-checkbox  id="checkAllConsent" (change)="agreeWith($event)" color="primary"><i
                    style="margin-left: 10px">{{"i accept the Term of Use" | translate}}</i></mat-checkbox>
        </div>
    </div>
    <br>

    <!------------------------------------------------------- Button next ------------------------------------------------------>
    <div class="row">
        <div class="col-12 text-center" *ngIf="!onNext()">
            <button class="btn btn-primary btn-sm" [routerLink]="['/banks','sending']"><i
                    class="fas fa-caret-left"> </i> {{"Back" | translate}}</button>
        </div>
        <div class="col-6 text-right">
            <button *ngIf="onNext()" class="btn btn-primary btn-sm" [routerLink]="['/banks','sending']"><i
                    class="fas fa-caret-left"> </i> {{"Back" | translate}}</button>
        </div>
        <div class="col-6 text-left">
            <button *ngIf="onNext()" class="btn btn-primary btn-sm"
                [routerLink]="['/banks', 'login']">{{"Next" | translate}} <i class="fas fa-caret-right"></i></button>
        </div>
    </div>
</div>
