<div *ngIf="LANGUAGE && LANGUAGE == 'vi' || LANGUAGE == 'en'" class="container">
<!------------------------------------ title ---------------------------------------->
    <div class="body-title row">
        <button class="btn btn-outline-primary back col-1" [routerLink]="['/banks']"><i class="fas fa-arrow-left"></i>
        </button>
        <div class="body-title col-10">{{"Sending information" | translate}}</div>
    </div>
    <hr>
    <app-information></app-information>
    <hr>

<!----------------------------------------- sending info ---------------------------------->
    <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let report of reports, index as i">
            <div class="card-header card-check form-inline" >
                <div *ngIf="report.REPORT_NAME && !report.REPORT_VN_NAME && LANGUAGE == 'vi'" class="form-group col-sm-11 col-10">
                    <mat-radio-button color="primary"  class="checkbox-consensus" name="radio"
                                  (click)="checkBox(report.REPORT_CODE, report.REPORT_NAME)"><i style=" margin-left: 10px">{{report.REPORT_NAME}}</i></mat-radio-button>
                </div>
                <div *ngIf="report.REPORT_NAME && LANGUAGE == 'en'" class="form-group col-sm-11 col-10">
                    <mat-radio-button color="primary"  class="checkbox-consensus" name="radio"
                                      (click)="checkBox(report.REPORT_CODE, report.REPORT_NAME)"><i style=" margin-left: 10px">{{report.REPORT_NAME}}</i></mat-radio-button>
                </div>
                <div *ngIf="report.REPORT_VN_NAME && LANGUAGE == 'vi'" class="form-group col-sm-11 col-10">
                    <mat-radio-button color="primary"  class="checkbox-consensus" name="radio"
                                      (click)="checkBox(report.REPORT_CODE, report.REPORT_VN_NAME)"><i style=" margin-left: 10px">{{report.REPORT_VN_NAME}}</i></mat-radio-button>
                </div>
                <div class="form-group">
                    <button class="btn drop" type="button" data-toggle="collapse"
                            [attr.data-target]="'#one' + i"
                            aria-expanded="true" [attr.aria-controls]="'one' + i"><i class="fas fa-caret-down "></i>
                    </button>
                </div>
            </div>
            <div id="one{{i}}" class="collapse">
                <div class="card-body">
                    {{ "Sending information follow" | translate}}
                    <ul>
                        <li>{{"Name" | translate}}</li>
                        <li>{{"Date of Birth" | translate}}</li>
                        <li>{{"Address" | translate}}</li>
                        <li>{{"Phone Number" | translate}}</li>
                        <li>{{"National ID" | translate}}</li>
                        <li>{{"Credit score" | translate}}</li>
                        <li>{{"Credit grade" | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>

<!------------------------------------------ button next ------------------------------------------------->
    <div id="wrapper" *ngIf="check">
        <button class="btn btn-outline-primary" [routerLink]="['/banks', id, 'consensus']">Next</button>
    </div>
</div>


