hr {
    border: 2px solid cornflowerblue;
}

header {
    color: white;
    background-color: cornflowerblue;
    font-style: italic;
    font-family: KacstOffice, serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    z-index: 2;
}

.header-logo {
    font-size: small;
    text-align: center;
    margin-left: -100px;
}

@media only screen and (min-height: 1370px) {
    .container-header {
        height: 100px;
    }
}

@media only screen and (min-height: 1025px) {
    header {
        height: 6%;
    }
}

@media only screen and (max-height: 700px) {
    header {
        height: 12%;
    }
}

@media only screen and (max-height: 530px) {
    header {
        font-size: medium;
    }
    .header-logo {
        margin-bottom: -10px;
        font-size: xx-small;
    }
}

@media only screen and (max-height: 300px) {
    header {
        font-size: small;
    }
    
}


