<div class="container" *ngIf="LANGUAGE && LANGUAGE == 'vi' || LANGUAGE == 'en'">

    <!-------------------------------------------------------title-------------------------------------------------------->
    <div class="body-title row">
        <button class="btn btn-outline-primary back col-1" [routerLink]="['/banks','sending']"><i
                class="fas fa-arrow-left"></i>
        </button>
        <div class="body-title col-10">
            {{"Login information" | translate}}
        </div>
    </div>
    <hr>
    <app-information></app-information>
    <hr>

    <!-------------------------------------------------- login   ------------------------------------------------------>
    <div class="accordion login" id="accordionExample">
        <div class="card">
            <div class="card-header card-check form-inline" id="headingOne">
                <div class="form-group col-sm-11 col-10">
                    <mat-checkbox color="primary" id="checkbox-consensus" class="checkbox-consensus" name="radio"
                                  (click)="checkBox()"><i style="margin-left: 10px">{{report}}</i></mat-checkbox>
                </div>
                <div class="form-group">
                    <button class="btn drop" type="button" data-toggle="collapse"
                            data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-caret-down "></i>
                    </button>
                </div>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form [formGroup]="loginForm">
                        <div class="form-group row">
                            <label for="exampleInputId" class="col-4 col-sm-2 col-form-label login">ID:</label>
                            <input type="text" class="form-control col-8 col-sm-10 login" id="exampleInputId"
                                   formControlName="username"
                                   aria-describedby="idHelp" placeholder="{{'Enter Id' | translate}}"
                                   [ngClass]="{ 'is-invalid': f.username.errors && f.username.touched }"/>
                        </div>
                        <div *ngIf="f.username.errors && f.username.touched" class="alert alert-danger">
                            <div *ngIf="f.username.errors.required">{{"Username is required" | translate}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword1" class="col-4 col-sm-2 col-form-label login">{{"PW" | translate}}:</label>
                            <input type="password" class="form-control col-8 col-sm-10 login" formControlName="password"
                                   id="exampleInputPassword1" placeholder="{{'Password' | translate}}"
                                   [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched}"/>
                        </div>
                        <div *ngIf="f.password.errors && f.password.touched" class="alert alert-danger">
                            <div *ngIf="f.password.errors.required">{{"Password is required" | translate}}</div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword2"
                                   class="col-4 col-sm-2 col-form-label login">{{"PW(confirm)" | translate}}:</label>
                            <input type="password" class="form-control col-8 col-sm-10 login"
                                   formControlName="confirmPassword"
                                   id="exampleInputPassword2" placeholder="{{'ConfirmPassword' | translate}}"
                                   [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }"/>
                        </div>
                        <div *ngIf="f.confirmPassword.errors && f.confirmPassword.touched" class="alert alert-danger">
                            <div *ngIf="f.confirmPassword.errors.required"> {{"Confirm password is required" | translate}}</div>
                            <div *ngIf="f.confirmPassword.errors">{{"Confirm password must be the same" | translate}}</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br/>
    <!-------------------------------------button next ------------------------------------------>
    <div class="row">
        <div class="col-12 text-center" *ngIf="!check || f.username.errors || f.password.errors || f.confirmPassword.errors">
            <button class="btn btn-primary btn-sm" [routerLink]="['/banks','consensus']"><i class="fas fa-caret-left"> {{"Back" | translate}}</i></button>
        </div>
        <div class="col-6 text-right">
            <button *ngIf="check && !f.username.errors && !f.password.errors && !f.confirmPassword.errors" class="btn btn-primary btn-sm" [routerLink]="['/banks', id, 'consensus']"><i class="fas fa-caret-left"> {{"Back" | translate}}</i></button>
        </div>
        <div class="col-6 text-left">
            <button *ngIf="check && !f.username.errors && !f.password.errors && !f.confirmPassword.errors" class="btn btn-primary btn-sm" (click)="checkValidNiceSS(buttonOpenMessageCheckPhone,modalNotifyFinishProcess,modalNotifyOutOfTimelogin)">{{"Next" | translate}} <i class="fas fa-caret-right"></i></button>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<button #buttonOpenMessageCheckPhone data-backdrop="static" hidden type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{"Notify" | translate}}</h5>
                <button type="button" class="close" [routerLink]="['/banks']" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!this.messageCheckPhone">
                    {{"Phone Number does not exist" | translate}}
                </div>
                <div *ngIf="this.messageCheckPhone">
                    {{this.messageCheckPhone}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" [routerLink]="['/banks']" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<button #modalNotifyFinishProcess hidden data-backdrop="static"  type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#NotifyModal4"></button>

<div class="modal fade" id="NotifyModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Notify' | translate}}</h5>
            </div>
            <div class="modal-body">
                <p class="text-center text-success">{{"Your CIC information has result, please check on CIC app!" | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  (click)="clearAllData()" data-dismiss="modal">{{"Exit" | translate}}</button>
            </div>
        </div>
    </div>
</div>

<button #modalNotifyOutOfTimelogin hidden data-backdrop="static"  type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#NotifyModal43"></button>

<div class="modal fade" id="NotifyModal43" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'Notify' | translate}}</h5>
            </div>
            <div class="modal-body">
                <p class="text-center text-success">{{"Invalid Login ID/PW. Please check your login information and try again." | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"  (click)="clearAllData()" data-dismiss="modal">{{"Exit" | translate}}</button>
            </div>
        </div>
    </div>
</div>

