/*-------------------------- button next ----------------------------------*/
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------------------------------line between title and body ----------------------------------------*/
hr {
  border: 2px solid cornflowerblue;
}

/*-----------------------------line between institutions --------------------------------------------*/
hr.lineBetween {
  border: 1px solid cornflowerblue;
}

/*----------------------------------------Title ------------------------------------------------*/
.body-title {
  text-align: center;
  font-weight: bold;
}


