<div class="container-fluid" style="padding-top: 5%">
    <div class="row">
        <div class="col-12">
            <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font size="4"
                                                                                                          style="font-size: 15pt"><b>[Cách
                g</b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 15pt"><span
                    lang="vi-VN"><b>ửi</b></span></font></font><font face="Times New Roman, serif"><font size="4"
                                                                                                         style="font-size: 15pt"><b>
                thông tin cá nhân] </b></font></font>
            </p>
            <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font size="4"
                                                                                                          style="font-size: 15pt">Quý
                khách cần thực hiện 4 thao tác, nếu
                quý khách đã thực hiện xong
                thao tác nào thì tiến hành thao tác
                tiếp theo. </font></font>
            </p>
            <ol>
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>Tải
                        ứng dụng trên mobile của CIC </b></font></font>
                    </p>
                </li>
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>Đăng
                        ký thành viên trên ứng dụng
                        CIC </b></font></font>
                    </p>
                </li>
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>Khai
                        thác báo cáo tín dụng thể
                        nhân trên ứng dụng CIC </b></font></font>
                    </p>
                </li>
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>G</b></font></font><font
                            face="Times New Roman, serif"><font size="4" style="font-size: 15pt"><span lang="vi-VN"><b>ửi
	báo cáo tín dụng thể nhân lên
	mobile web của NICE </b></span></font></font>
                    </p>
                </li>
            </ol>
            <p style="border: 1px solid black;margin-bottom: 0.11in; line-height: 120%"><font
                    face="Times New Roman, serif"><font size="4"
                                                        style="font-size: 15pt"><b></b></font></font>
            </p>
            <ol>
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>Tải
                        ứng dụng trên mobile của CIC </b></font></font>
                    </p>
                </li>
            </ol>
            <p style="margin-left: 0.53in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Tải
                    ứng dụng sau trên thiết bị di động
                    quý khách đang sử dụng. </font></font>
            </p>
            <ol>
                <ol type="A">
                    <li>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;margin-bottom: 0.11in; line-height: 120%">
                            <font face="Times New Roman, serif"><font
                                    size="4" style="font-size: 15pt">IOS(Apple):
                                <br/> <a href="https://apps.apple.com/vn/app/icic/id1467621816">https://apps.apple.com/vn/app/icic/id1467621816 </a>
                            </font></font>
                        </p>
                    </li>
                    <li>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;margin-bottom: 0.11in; line-height: 120%">
                            <font face="Times New Roman, serif"><font
                                    size="4" style="font-size: 15pt">Android(Google):
                                <br/> <a href="https://play.google.com/store/apps/details?id=vn.cicb.customer">https://play.google.com/store/apps/details?id=vn.cicb.customer</a></font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.53in; margin-bottom: 0.11in; line-height: 120%">
                <br>
            </p>
            <ol start="2">
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>Đăng
                        ký thành viên trên ứng dụng
                        CIC </b></font></font>
                    </p>
                </li>
            </ol>
            <p style="margin-left: 0.53in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Khởi
                    động</font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 15pt"><span
                    lang="vi-VN">
ứng dụng CIC và tiến hành đăng
ký thành viên.</span></font></font></p>
            <ol>
                <ol type="A">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Đăng
                            ký</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Đồng
                            ý điều kiện</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Nhập
                            tên, số điện thoại, mật khẩu</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Nhập
                            mã OTP được gửi đến số
                            điện thoại của quý khách</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Hoàn
                            thành tạo tài khoản</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Đến
                            menu khai thác báo cáo</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%">”<font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Đồng
                            ý” hoàn thành thông tin pháp
                            lý</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Nhập
                            thông tin cá nhân, ảnh chụp chứng
                            minh thư/căn cước</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Nhập
                            địa chỉ</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Hiện
                            lên thông báo về phê duyệt </font></font>
                        </p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font color="#ff0000"><font
                                face="Times New Roman, serif"><font size="4"
                                                                    style="font-size: 15pt">(L</font></font></font><font
                                color="#ff0000"><font face="Times New Roman, serif"><font size="4"
                                                                                          style="font-size: 15pt"><span
                                lang="vi-VN">ưu
		ý) Thời gian để nhận được
		phê duyệt của CIC sau khi đăng ký
		thành viên xong khoảng 1 ngày. Thông
		báo phê duyệt có thể được
		gửi qua email hoặc tin nhắn, tuy nhiên có
		trường hợp đã được phê
		duyệt mà không có thông báo
		nên quý khách cần vào lại
		ứng dụng và thử khai thác báo
		cáo.</span></font></font></font></p>
                    </li>
                </ol>
            </ol>
            <p lang="vi-VN" style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <br>
            </p>
            <ol start="3">
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                            size="4" style="font-size: 15pt"><b>Khai
                        thác báo cáo tín dụng thể
                        nhân trên ứng dụng CIC </b></font></font>
                    </p>
                </li>
            </ol>
            <p style="margin-left: 0.53in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Sau
                    khi hoàn thành đăng ký thành
                    viên, quý khách vào lại ứng
                    dụng để khai thác báo cáo tín
                    dụng. </font></font>
            </p>
            <ol>
                <ol type="A">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Chọn
                            menu “Khai thác báo cáo”</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Chọn
                            “Khai thác báo cáo tín dụng
                            thể nhân”</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Nhập
                            mã OTP được gửi đến điện
                            thoại của quý khách</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Xác
                            th</font></font><font face="Times New Roman, serif"><font size="4"
                                                                                      style="font-size: 15pt"><span
                                lang="vi-VN">ực
		bảo mật (xác thực vân tay hoặc
		nhận diện khuôn mặt tùy thuộc
		vào thiết bị di động của quý
		khách)</span></font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Kiểm
                            tra kết quả khai thác báo cáo tín
                            dụng</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Kiểm
                            tra nội dung chi tiết báo cáo tín
                            dụng</font></font></p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font color="#ff0000"><font
                                face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Sau
                            khi khai thác thành công báo cáo
                            tín dụng, quý khách phải chuyển
                            báo cáo đến tổ chức tín
                            dụng định giao dịch. Quý khách
                            truy cập mobile web của NICE và chuyển báo
                            cáo cho tổ chức tín dụng theo hướng
                            dẫn sau.</font></font></font></p>
                    </li>
                </ol>
            </ol>
            <p style="margin-bottom: 0.11in; line-height: 120%; orphans: 2; widows: 2">
                <br>
            </p>
            <ol start="4">
                <li>
                    <p style="margin-bottom: 0.11in; line-height: 120%; page-break-before: always">
                        <font face="Times New Roman, serif"><font size="4"
                                                                  style="font-size: 15pt"><b>G</b></font></font><font
                            face="Times New Roman, serif"><font size="4" style="font-size: 15pt"><span lang="vi-VN"><b>ửi
	báo cáo tín dụng thể nhân lên
	mobile web của NICE</b></span></font></font><font face="Times New Roman, serif"><font size="4"
                                                                                          style="font-size: 15pt"><b>
                    </b></font></font>
                    </p>
                </li>
            </ol>
            <p style="margin-left: 0.53in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Để
                    chuyển báo cáo tín dụng tra cứu
                    trên ứng dụng mobile, quý khách truy
                    cập trang web sau, chọn tổ chức tín
                    dụng cần gửi báo cáo, đồng
                    ý điều kiện, nhập thông tin đăng
                    nhập CIC và gửi thông tin. </font></font>
            </p>
            <ol>
                <ol type="A">
                    <li>
                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;margin-bottom: 0.11in; line-height: 120%">
                            <font face="Times New Roman, serif"><font
                                    size="4" style="font-size: 15pt">Địa
                                chỉ mobile web: <br/><a href="https://mobile.infobox.nicegroup.com.vn:4200/">https://mobile.infobox.nicegroup.com.vn:4200</a>
                            </font></font>
                        </p>
                    </li>
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">X</font></font><font
                                face="Times New Roman, serif"><font size="4" style="font-size: 15pt"><span lang="vi-VN">ử
		lý khi hiện trang thông báo về bảo
		mật </span></font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font color="#ff0000"><font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Tại
                    trình duyệt web trên thiết bị di động
                    có thể hiện lên thông báo như
                    sau. Khi đó ấn chọn “Show Detailes”
                    hoặc “Advanced” tùy loại thiết
                    bị di động để truy cập vào
                    được địa chỉ url. </font></font></font>
            <br/>
            </p>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/1.png">
            </p>
            <br/>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/2.png">
            </p>

            <br/>
            <ol>
                <ol type="A" start="3">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Tại
                            màn hình đầu tiên, chọn ngôn
                            ngữ (Dịch vụ hỗ trợ tiếng Anh
                            và tiếng Việt) </font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <br/>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/3.png">
            </p>
            <br/>
            <ol>
                <ol type="A" start="4">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Chọn
                            tổ chức tín dụng cần gửi thông
                            tin.</font></font></p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Chọn
                    tổ chức tín dụng khách hàng có
                    nhu cầu giao dịch tại danh sách tổ
                    chức tín dụng.</font></font>
            </p>
            <br/>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/4.png">
            </p>
            <br/>
            <ol>
                <ol type="A" start="5">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Quý
                            khách nhập tên, số chứng minh
                            thư/căn cước, số điện thoại
                            và kiểm tra thông tin cần gửi.</font></font></p>
                    </li>
                </ol>
            </ol>
            <br/>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/5.png">
            </p>
            <br/>
            <ol>
                <ol type="A" start="6">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Đồng
                            ý điều khoản sử dụng </font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Quý
                    khách kiểm tra điều khoản thu thập
                    và cung cấp thông tin, khi đồng ý
                    sẽ chuyển sang màn hình tiếp theo. </font></font>
            </p>
            <br/>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/6.png">
            </p>
            <br/>
            <ol>
                <ol type="A" start="7">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Nhập
                            thông tin đăng nhập ứng dụng CIC </font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Để
                    gửi được báo cáo CIC cần
                    thông tin đăng nhập vào ứng dụng
                    CIC. </font></font>
            </p>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">ID
                    là số điện thoại, nhập đúng
                    mật khẩu đã đăng ký. </font></font>
            </p>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">NICE
                    không l</font></font><font face="Times New Roman, serif"><font size="4"
                                                                                   style="font-size: 15pt"><span
                    lang="vi-VN">ưu
giữ t</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">hông
                tin đăng nhập của quý khách. </font></font>
            </p>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/7.png">
            </p>
            <ol>
                <ol type="A" start="8">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Chỉ
                            định tổ chức tín dụng cần
                            gửi thông tin </font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Xác
                    nhận tổ chức tín dụng quý khách
                    cần gửi thông tin. </font></font>
            </p>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/8.png">
            </p>
            <ol>
                <ol type="A" start="9">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">G</font></font><font
                                face="Times New Roman, serif"><font size="4" style="font-size: 15pt"><span lang="vi-VN">ửi
		thông tin</span></font></font></p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Thông
                    tin sẽ được gửi đến tổ
                    chức tín dụng mà quý khách
                    chỉ định. </font></font>
            </p>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/9.png">
            </p>
            <ol>
                <ol type="A" start="10">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Hoàn
                            tất gửi thông tin </font></font>
                        </p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Việc
                    gửi thông tin hoàn tất khi tỷ lệ
                    gửi thông tin là 100% </font></font>
            </p>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Có
                    thể không hiện lên pop-up thông báo
                    tùy thuộc vào trình duyệt của
                    quý khách (việc gửi thông tin vẫn
                    hoàn tất)</font></font></p>
            <p style="text-align: center">
                <img style="width: auto; height: auto;" src="assets/img/10.png">
            </p>
            <ol>
                <ol type="A" start="11">
                    <li>
                        <p style="margin-bottom: 0.11in; line-height: 120%"><font face="Times New Roman, serif"><font
                                size="4" style="font-size: 15pt">Tiến
                            hành sau khi gửi </font></font><font face="Times New Roman, serif"><font size="4"
                                                                                                     style="font-size: 15pt"><span
                                lang="vi-VN">thông
		tin</span></font></font></p>
                    </li>
                </ol>
            </ol>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">Mỗi
                    tổ chức tín dụng có quy trình
                    xử lý thông tin của khách hàng
                    khác nhau. Quý khách cần liên hệ
                    với tổ chức tín dụng để
                    tiến hành các bước tiếp theo. </font></font>
            </p>
            <p style="margin-left: 0.83in; margin-bottom: 0.11in; line-height: 120%">
                <br>
                <br>

            </p>
            <p style="margin-bottom: 0.11in; line-height: 120%; text-align: center"><a name="_GoBack"></a>
                <font face="Times New Roman, serif"><font size="4" style="font-size: 15pt">-
                    End of document -</font></font></p>
            <p style="margin-bottom: 0.11in; line-height: 120%"><br>
                <br>

            </p>
        </div>
    </div>
</div>
